body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-link {
  color: blue; /* Couleur par défaut du texte */
  transition: color 0.3s ease-in-out; /* Animation de transition fluide */
  font-size: 20px;
  font-weight: bold;
}

.my-logo {
  font-size: 20px;
  font-weight: bold;
}

/* Styles au survol d'un lien */
.nav-link:hover {
  color: rgba(255, 255, 255, 0.8); /* Couleur blanche avec une transparence de 0.8 */
}
.back-to-top:hover {
  background-color: #298eff; /* Couleur de fond au survol */
}

/* Partie HomePage*/
.background-image {
  background-image: url('/public/images/banner.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh; /* Hauteur de l'image de fond en pleine page */
  position: relative;
}
.mt-3 {
  margin-top: 0;
  margin-bottom: 50px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Fond de couleur noire semi-transparent */
}

/* Partie ServicesPage */
.py-5 {
  margin-top: 40px;
}

.image-article {
  width: 100%; /* ou une largeur fixe en pixels ou en pourcentage */
  height: auto; /* Pour conserver le ratio hauteur/largeur */
}

.mb-4 {
  margin: auto;
}
